<div class="form-group" [class.is-invalid]="inputError">
  <label>{{label}}:</label>
  <div [class]="showEye?'show-eye':''">
    <input [type]="inputType" class="form-control" [formControlName]="controlName" (blur)="onBlur()"
      placeholder="{{placeHolder}}" [ngClass]="{'is-invalid':inputError ,'is-valid':!inputError && inputValue }" #ref>
    <i [class]="show ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="onClick()" *ngIf="showEye && inputValue"></i>
  </div>
  <span class="invalid-feedback d-block" *ngIf="inputError">
    {{inputError}}
  </span>
</div>